* {
	box-sizing: border-box;
}

hr {
	border-top: 1px solid #dfe1e3;
}

#intro {
	max-width: 40rem;
	margin: 1rem auto;
}

.intro__overline {
	font-size: 1.4rem;
}

.intro__hed {
	font-size: 1.4rem;
	margin: 1.5rem auto;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.05em;
}

.intro__dek {
	font-size: 1.4rem;
	margin-bottom:3rem;
}

#outro {
	height: 640px;
}

/* scrollama */
#scroll {
	position: relative;
	width: 100vw;
	max-width: 1400px;
	padding: 0 4vw;
	padding-bottom:20px;
}

@media only screen and (max-width: 999px) {
	 #scroll {
		width: 100%;
	 }
}

.scroll__graphic {
	font-family: 'Futura';
	position: absolute;
	top: 0;
	left: 33%;
	width:66%;
	bottom: auto;
	background-color: #fff;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
	position: fixed;
}
.scroll__graphic.is-bottom {
	bottom: 0;
	top: auto;
}

.scroll__text {
	position: relative;
	padding: 0 1rem;
	width: 33%;
}

.chart {
	position: absolute;
	left:50%;
	top: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width:100%;
	font-family:'Futura'
}

.step {
	margin: 2rem auto;
	position: relative;
}

.step p {
	position: absolute;
	width:80%;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 999px) {	
	.step p {
		top: 0%;
		width:100%;
		max-width:40rem;
		background-color:#fff;
		padding:40px;
		border-radius: 4px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	}
	
}

@media only screen and (min-width : 510px) and (max-width: 999px) {
	.step {
		margin: 4rem auto;
		margin-top: 130px;
	}
	
	.step p {
		margin:1rem auto;
	}
}

@media only screen and (max-width: 509px) {	
	.step {
		margin-top: 130px;
	}
	
	.step p {
		margin:10rem auto;
	}
}

.inner-step {
	border-left:10px solid #d32323;
	padding-left:10px;
	position:absolute;
	top:50%;
	background-color:white;
	font-weight:400;
}

@media only screen and (max-width: 999px) {
	.scroll__graphic {
		left: 0;
		width:100%;
	}
	.scroll__text {
		width: 100%;
		pointer-events:none;
	}
}

.chart-header-container {
	text-align:center;
}

.chart-header {
	font-size:40px;
	font-weight:500;
	font-style:italic;
	margin-bottom:10px;
}

.chart-sub-header {
	font-size:20px;
	font-weight:300;
	margin-bottom:30px;
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	.chart-header {
		font-size:28px;
	}
}

@media only screen and (max-width: 763px) {
	.chart-header {
		font-size:20px;
	}
}

.drag-object {
	text-align:center;
	pointer-events:none;
	color:white;
	z-index:100;
	border-radius:3px;
}

.drag-object:hover {
	
}

.drag-object-selected {
	
}

.larger-flex {
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.instructions-container {
	text-align:center;
	width:100%;
	position:relative;
}

.instructions {
	position:absolute;
	left:50%;
	width:100%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	opacity:0;
	text-align:center;
	color:black;
}

.instructions-header {
	margin:0;
	font-style:italic;
}

.instructions-step {
	font-weight:800;
	text-decoration:underline;
	margin:0!important;
}

.instructions-description {
	margin:0!important;
	color:#9a9590;
	font-weight:800;
} 

.icon {
	text-align:center;
	margin:0!important;
	display:inline!important;
}

.icon:hover {
	border:3px solid black;
	border-radius:100px;
	padding:2px;
}

.icon-selected {
	border:3px solid black;
	border-radius:100px;
	padding:2px;
}

.icon-label {
	font-size:14px;
	text-align:center;
	color:black;
	font-weight:600;
	margin:0;
}

.svg-container {
	display:flex;
	position:relative;
}

.flex-drag-container {
	display:flex;
	flex-flow:row wrap;
	opacity:0;
}

@media only screen and (min-width : 1300px) {
	.chart {
		
	}
	.instructions-container {
		height:90px;
		padding-bottom:5px;
	}
	.instructions-header {
		font-size:30px;
		padding-bottom:5px;
	}
	.instructions-description {
		font-size:22px!important;
	}
	.icon {
		width:65px;
		height:65px;
	}
	.icon-label {
		font-size:14px;
		line-height:20px;
	}
	
	.flex-drag-container {
		width:200px;
		height:90%;
		margin-right:30px;
		justify-content:center;
	}
	
	.drag-object {
		width:40%;
		margin-bottom:10px;
	}
}

@media only screen and (min-width : 1000px) and (max-width: 1299px){
	.chart {
		
	}
	.instructions-container {
		height:90px;
		padding-bottom:5px;
	}
	.instructions-header {
		font-size:30px;
		padding-bottom:5px;
	}
	.instructions-description {
		font-size:22px;
	}
	.icon {
		width:65px;
		height:65px;
	}
	.icon-label {
		font-size:14px;
		line-height:20px;
	}
	
	.drag-object {
		width:40%;
		margin-bottom:10px;
	}
	
	.flex-drag-container {
		width:200px;
		height:90%;
		margin-right:30px;
		justify-content:center;
		margin-bottom:auto;
	}
	
	
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	.instructions-container {
		height:80px;
	}
	.instructions-header {
		font-size:30px;
		padding-bottom:10px;
	}
	
	.instructions-description {
		font-size:25px!important;
	}

	.icon-label {
		font-size:12px;
		line-height:16px;
	}
	.icon {
		width:80px;
		height:80px;
	}
	
	.drag-object {
		width:40%;
		margin:10px;
	}
	
	.flex-drag-container {
		width:200px;
		height:500px;
		margin-right:10px;
		justify-content:center;
	}
	
	.svg-container {
		width:calc(100% - 220px);
		margin:auto;
	}
	#chip-svg {
		margin:auto;

	}
}

@media only screen and (min-width : 510px) and (max-width: 763px) {
	.instructions-container {
		height:80px;
		padding-top:10px;
	}
	.instructions-header {
		font-size:18px;
	}
	
	.instructions {	
		width:100%;
	}
	
	.instructions-description {
		font-size:15px!important;
	}
	
	.instructions-step {
		font-size:14px;
		line-height:10px;
		padding-top:5px;
	}

	.instructions-description {
		font-size:12px;
		padding-bottom:5px;
	} 
	
	.icon {
		width:80%!important;
	}
	
	.icon-label {
		font-size:10px;
		line-height:13px;
		margin-top:3px;
	}
	
	.drag-object {
		width:25%;
	}
	
	.flex-drag-container {
		width:80%;
		margin-bottom:20px;
	}
	
	.svg-container {
		width:90%;
		
	}
	#chip-svg {
		margin:auto;

	}
}

@media only screen and (max-width: 509px) {
	.instructions-container {
		height:70px;
		padding-top:5px;
	}
	.instructions {	
		width:100%;
	}
	
	.instructions-header {
		font-size:17px;
	}
	
	.instructions-description {
		font-size:14px!important;
		line-height:18px;
	}
	.instructions-step {
		font-size:13px;
		padding-top:5px;
		line-height:10px;
	}
	
	.icon {
		width:40px!important;
		height:40px;
	}
	
	.icon-label {
		font-size:10px;
		text-align:center;
		line-height:12px;
		margin-top:3px;
	}
	
	.drag-object {
		width:25%;
	}
	
	.flex-drag-container {
		width:80%;
		margin-bottom:20px;
		
	}

	.svg-container {
		
		
	}
	#chip-svg {
		margin:auto;

	}

}

#scroll-prompt {
	text-align: center;
    padding: 5% 0;
}

.scroll-arrow {
    position: relative;
    display: block;
    top: 10px;
    left: calc(50% - 1em);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 1em 0 1em;
    border-color: #231f20 transparent transparent transparent;
    transform: rotate(360deg);
    animation-name: bounce;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.scroll-arrow:after {
    content: '';
    position: absolute;
    top: -1.2em;
    left: -1em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 1em 0 1em;
    border-color: #ffffff transparent transparent transparent;
    transform: rotate(360deg);
}

.success-message-container {
	text-align:center;
	width:100%;
	opacity:0;
}

.message {
	font-size:20px;
	font-weight:200;
}

.message-intro {
	position: relative;
	font-size: 20px;
	font-weight:800;
	width: 200px;
	height: 45px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
	padding-top:5px;
    margin: 0 auto;
	display: none;
}

.success {
	background: #8cc67f;
}

.failure {
	background: #ee3939;
}

#congratulations-message {
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 95%;
    height: 80%;
    margin: auto;
}

.reset-button {
	position: relative;
	background: #b34a3f;
    color: white;
    font-size: 25px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 0px;
    cursor: pointer;
}

.reset-button:hover {
	background: #d05a3f;
    color: white;
    border: 1px solid lightgrey;
}

#try-again-message {
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 95%;
    height: 80%;
    margin: auto;
}

@media only screen and (min-width : 1000px) {
	.success-message-container {
		padding-top:20px;
	}
	.message {
		font-size:25px;
		padding-bottom:10px;
	}
	.success {
		font-size: 25px;
		width: 300px;
	}

	.failure {
		font-size: 25px;
		width: 250px;
	}
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	#scroll-prompt {
		font-size: 18px;
	}
	
	.success-message-container {
		padding-top:10px;
	}
	.message {
		font-size:23px;
	}

	.success {
		font-size: 23px;
		width: 240px;
	}

	.failure {
		font-size: 18px;
		width: 250px;
	}
	
	#try-again-message {
		height: 75%;
	}

}

@media only screen and (max-width: 763px) {
	#scroll-prompt {
		font-size: 16px;
	}
	
	.success-message-container {
		padding-top:10px;
	}
	.message {
		font-size:14px;
	}

	.success {
		font-size: 14px;
		width: 140px;
		height: 30px;
	}

	.failure {
		font-size: 14px;
		width: 200px;
	}
	
	#congratulations-message {
		height: 100%;
	}
	
	#try-again-message {
		height: 100%;
	}

}

.drop-container {
	width:100%;
	height:60px;
	display:flex;
	justify-content:center;
}

.drop-area { 
	width: 150px; 
	height: 60px;
	padding: 0.5em; 
	text-align:center;
    margin: 5px; 
	position:relative;
	display: inline-block;
    color: black;
    background-color: #fff;
    font-size: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #b5b5b5;
    border-bottom-width: 3px;
}

.drop-area-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-weight: 900;
	width:80%;
	color:grey;
	text-transform:uppercase;
	z-index:10;
	font-size:15px;
}

.drop-area-separator {
	width:20px;
	position:relative;
}

.drop-area-separator-text {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color:black;
}

.remove-input {
	position:absolute;
	top:0px;
	left:calc(100% - 15px);
	font-size:13px;
	font-weight:800;
	color:grey;
	display:none;
	cursor:pointer;
}

.down-arrow-svg {
	animation: mover 2s infinite;
	position:absolute;
	top:90%;
}

.down-arrow {
	fill:black;
	stroke:black;
	stroke-width:4px;
}

.animated.mover {
    -webkit-animation-name: mover;
    -moz-animation-name: mover;
    -o-animation-name: mover;
    animation-name: mover;
}

@-webkit-keyframes mover {
    0% { -webkit-transform: translateY(-10px); }
    100% { -webkit-transform: translateY(0); }
}

@keyframes mover {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@-moz-keyframes mover {
    0% { -moz-transform: translateY(-10px); }
    100% { -moz-transform: translateY(0); }
}

@-ms-keyframes mover {
    0% { -ms-transform: translateY(-10px); }
    100% { -ms-transform: translateY(0); }
}

@-o-keyframes mover {
    0% { -o-transform: translateY(-10px); }
    100% { -o-transform: translateY(0); }
}

.outer-chip-path {
	fill:none;
	stroke:black;
	stroke-width:1
}

.outer-chip-path-immediate {
	fill:none;
	stroke:black;
	stroke-width:1
}

.channel-path {
	fill:none;
	stroke:black;
	stroke-width:1
}

.channel-path-immediate {
	fill:none;
	stroke:black;
	stroke-width:1
}

.all-chip-container {
	position:relative;
}

.chip-img-container {
	text-align:center;
	position:absolute;
	top:40px;
	z-index: -1;
}

.chip-img {
}

.dropped {
	display:none;
	z-index:-1
}

#blood {
	background-color:red;
}

#blood:hover {
	background-color:white;
	color:red;
	border:2px solid red;
}

#acid {
	background-color:green;
}

#acid:hover {
	background-color:white;
	color:green;
	border:2px solid green;
}

#water {
	background-color:blue;
}

#water:hover {
	background-color:white;
	color:blue;
	border:2px solid blue;
}

#waste {
	background-color:brown;
}

#waste:hover {
	background-color:white;
	color:brown;
	border:2px solid brown;
}

.chart-footer-container {
	margin-top:30px;
	opacity:0;
}

.output-container {
	text-align:center;
}

.output-container p {
	padding:5px;
}

.output-waiting-text {
	font-weight:600;
}

.output-sorry-text {
	font-weight:600;
	font-size:30px;
	font-style:italic;
	color:red;
}

.output-success-text {
	font-weight:600;
	font-size:30px;
	font-style:italic;
	color:green;
}

.output-generic-text {
	text-transform:uppercase;
}

.output-created-text {
	font-weight:600;
	font-size:20px;
	text-decoration:underline;
}

.point-up {
	position:absolute;
	display:none;
	top:calc(50% + 80px);
	left:50%;
	z-index:100;
	width:40px;
	height:40px;
	font-size:50px;
	transform:translate(-50%, -50%);
}

.emoji {
	font-size:50px;
	animation: mover 2s infinite;
}

@-webkit-keyframes mover {
    0% { -webkit-transform: translateY(-20px); }
    100% { -webkit-transform: translateY(0); }
}
@keyframes mover {
    0% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
@-moz-keyframes mover {
    0% { -moz-transform: translateY(-20px); }
    100% { -moz-transform: translateY(0); }
}
@-ms-keyframes mover {
    0% { -ms-transform: translateY(-20px); }
    100% { -ms-transform: translateY(0); }
}

@-o-keyframes mover {
    0% { -o-transform: translateY(-20px); }
    100% { -o-transform: translateY(0); }
}

@media only screen and (max-width: 763px) {
	.reset-button {
		font-size: 15px;
		width: 100px;
		height: 30px;
		border-bottom: 4px solid rgba(0,0,0,0.25);
		text-align: center;
		border-radius: 10px;
	}
	.point-up {
		top:calc(50% + 52px);
		width:30px;
		height:30px;
		font-size:50px;
	}
	.emoji {
		font-size:30px;
	}
	@-webkit-keyframes mover {
		0% { -webkit-transform: translateY(-10px); }
		100% { -webkit-transform: translateY(0); }
	}
	@keyframes mover {
		0% { transform: translateY(-10px); }
		100% { transform: translateY(0); }
	}
	@-moz-keyframes mover {
		0% { -moz-transform: translateY(-10px); }
		100% { -moz-transform: translateY(0); }
	}
	@-ms-keyframes mover {
		0% { -ms-transform: translateY(-10px); }
		100% { -ms-transform: translateY(0); }
	}

	@-o-keyframes mover {
		0% { -o-transform: translateY(-10px); }
		100% { -o-transform: translateY(0); }
	}
}

.animated.mover {
    -webkit-animation-name: mover;
    -moz-animation-name: mover;
    -o-animation-name: mover;
    animation-name: mover;
}


.site-footer {
	background: #000;
}